<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.0/reveal.min.css" integrity="sha512-zu0eodDPCBAZf1vnIgwZ6qchMBt1xqgGkS9vBjVmunoH8pU7cc9OQKBiSQCclpvqySupy9Y1pLZc87VB40G4Sw==" crossorigin="anonymous" />

  <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.0/theme/black.min.css" integrity="sha512-zB0aIw1hR3hViObaUdwCG3ICqkblcZFhSLursL3P8mAqFJQvItchD/FoXo539E1lUZTqC/cTxmugRp1b5NsQRA==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.0/plugin/highlight/monokai.min.css" integrity="sha512-z8wQkuDRFwCBfoj7KOiu1MECaRVoXx6rZQWL21x0BsVVH7JkqCp1Otf39qve6CrCycOOL5o9vgfII5Smds23rg==" crossorigin="anonymous" />
</head>

<body>
  <div class="reveal">
    <div class="slides">
      <section data-markdown data-separator="^\n///\n" data-separator-vertical="^\n//\n" />
    </div>
  </div>
</body>

<style>
  table {
    color: #ffffff;
  }

  strong {
    color: #00ab44;
  }

  code {
    background-color: #000000;
    color: #00ab44;
  }

  code::before, code::after {
    content: "\00a0";
  }

  ol.references {
    font-size: 0.5em;
    position: fixed;
    bottom: 0em;

    counter-reset: item;
    list-style-type: none;
  }
  ol.references li:before {
    content: '[' counter(item, decimal) '] ';
    counter-increment: item;
  }

  .super-gray {
    color: #333;
    font-size: 0.8em;
  }

  footer,
  .footer {
    position: fixed;
    bottom: 0px;
    left: 0px; right: 0px;
    height: 1em;
    
    font-size: 0.5em;
    text-align: center;
    list-style: none;
  }
</style>

<script>
  function loadScript(src) {
    return new Promise((resolve, reject) => {
      const script = document.createElement('script');
      script.src = src;
      script.async = false;
      document.body.append(script);

      script.onload = resolve;
      script.onerror = reject;
  
      return script;
    })
  }

  document.addEventListener("DOMContentLoaded", async () => {
    try {
      console.log('Reading presentation url...');
      const [contentPath, ext = 'md'] = location.search.slice(1).split('&').map(decodeURIComponent);
      let presentationUrl = contentPath.replace(/\.([a-zA-Z]+)$/, `.${ext}`);
      console.log(contentPath, ext, presentationUrl);

      if (!presentationUrl.endsWith(`.${ext}`)) {
        presentationUrl += `.${ext}`;
      }

      console.log('Presentation URL:', presentationUrl);

      console.log('Loading presentation...');
      const response = await fetch(presentationUrl);
    
      content = await response.text();

      if (ext === 'md') {
        const script = document.createElement('script');
        script.type = 'text/template';
        script.textContent = content;
        document.querySelector('section').appendChild(script);
      } else if (ext === 'html') {
        document.querySelector('section').parentElement.innerHTML = content;
      }

      console.log('Loading external dependencies...');
      await Promise.all([
        loadScript('https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.0/reveal.min.js'),
        loadScript('https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.0/plugin/markdown/markdown.min.js'),
        loadScript('https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.0/plugin/highlight/highlight.min.js'),
      ]);

      console.log('Reveal initialization...');
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        slideNumber: 'c/t',
        transition: 'none',
        plugins: [ RevealMarkdown, RevealHighlight ],
      });
    } catch (err) {
      console.error(err);
    }
});

</script>
