::-webkit-scrollbar {
  display: none;
}

:target::before { 
  display: block !important;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}

:target .footnote-definition-label:before {
  display: inline-block;
  content: "»";
  margin-left: -30px;
  width: 30px;
}

main p {
  text-align: justify;
}

div.mermaid {
  text-align: center;
}
