<section>
  <pre>
    <!-- WARNIING data-line-numbers remove code indentation. This appears to be
    a bug in Reveal.js, not Highlight.js but I didn't find a way solve this -->
    <code>
    
  // Here it is
  genNodeName: (function() {
    var count = 0;
    return (function() {
      count++;
      var newName = "NODE" + count;
      return newName;
    });
  })()
   
    </code>
  </pre>
</section>

<section>
  <p class="fragment">Fade in</p>
  <p class="fragment fade-out">Fade out</p>
  <p class="fragment highlight-red">Highlight red</p>
  <p class="fragment fade-in-then-out">Fade in, then out</p>
  <p class="fragment fade-up">Slide up while fading in</p>
</section>

<section>Horizontal Slide</section>
<section>
  <section>Vertical Slide 1</section>
  <section>Vertical Slide 2</section>
</section>
